---
import type { CollectionEntry } from "astro:content";
import Link from "@/components/core/Link.astro";

interface Props {
  mainState: string;
  githubUrl: string;
  posterMail: string;
  states: CollectionEntry<"state">[];
  currentState: CollectionEntry<"state">;
  undershowsIG: string;
}

const { states, mainState, githubUrl, posterMail, currentState, undershowsIG } = Astro.props;
const sortedStates = [...states].sort((a) => (a.slug === mainState ? -1 : 1));
const { Content } = await currentState.render();

const isLink = (state: CollectionEntry<"state">) =>
  (state.slug !== mainState && state.slug !== currentState.slug) ||
  (state.slug === mainState && currentState.slug !== mainState);
---

<p class="normal">
  <img
    src="/images/undershows_logo.png"
    alt="Undershows logo"
    class="logo"
  />

  ESTADOS/STATES<br />
  {
    sortedStates.map((state, index) => (
      <>
        {index !== 0 ? " - " : ""}
        {isLink(state) ? (
          <Link to={state.slug === mainState ? "" : state.slug} class="class1">
            {state.data.abbr}
          </Link>
        ) : (
          state.data.abbr
        )}
      </>
    ))
  }

<br />
<br>
<b>Salve galera do subterrâneo, quem quiser enviar cartazes de shows, só enviar pelo e-mail abaixo:</b><br>
<a href={posterMail} class="class2" target="_blank">{posterMail}</a><br>
<b>-ˋˏ✄---------------------------------</b><br>
<b>Lembrando que dia 28/08 (quarta-feira) teremos o Undershows Fest II em SP, na Fenda com as bandas Ódio Social, Pöstvmö e Urutu, 20 conto, a partir das 18h, colem colante!</b><br>
<b>-ˋˏ✄---------------------------------</b><br>
  <Content />
</p>
