---
import type { CollectionEntry } from "astro:content";
import Link from "@/components/core/Link.astro";

interface Props {
  mainState: string;
  githubUrl: string;
  posterMail: string;
  states: CollectionEntry<"state">[];
  currentState: CollectionEntry<"state">;
  undershowsIG: string;
}

const { states, mainState, githubUrl, posterMail, currentState, undershowsIG } = Astro.props;
const sortedStates = [...states].sort((a) => (a.slug === mainState ? -1 : 1));
const { Content } = await currentState.render();

const isLink = (state: CollectionEntry<"state">) =>
  (state.slug !== mainState && state.slug !== currentState.slug) ||
  (state.slug === mainState && currentState.slug !== mainState);
---

<p class="normal">
  <img
    src="/images/undershows_logo.png"
    alt="Undershows logo"
    class="logo"
  />

  ESTADOS/STATES<br />
  {
    sortedStates.map((state, index) => (
      <>
        {index !== 0 ? " - " : ""}
        {isLink(state) ? (
          <Link to={state.slug === mainState ? "" : state.slug} class="class1">
            {state.data.abbr}
          </Link>
        ) : (
          state.data.abbr
        )}
      </>
    ))
  }

<br />
<br>
<b>Salve galera do subterrâneo, quem quiser enviar cartazes de shows, só enviar pelo e-mail abaixo:</b><br>
<a href={`mailto:${posterMail}`} class="class2" target="_blank">{posterMail}</a><br>
<b>-ˋˏ✄---------------------------------</b><br>
<b>Vlw geral que colou no Undershows Fest II, foi muito massa, bora fazer o III? Então bora, 20/11 @ Fenda 315 + infos em breve &#x1F918;&#x1F389;</b><br>
<b>-ˋˏ✄---------------------------------</b><br>
<b>Além do site, a Undershows agora é um selo/distro, estamos participando do lançamento de vários vinis de bandas underground, em breve estará no site da loja, mas já tem coisa lá, não mosca e se quiser algo, entra em contato que fazemos um esquema via PIX</b><br>
<b><a href="linktr.ee/undershows/">linktr.ee/undershows/</a>
</b><br>
<b>-ˋˏ✄---------------------------------</b><br>
  <Content />
</p>
