---
import type { CollectionEntry } from "astro:content";
import Link from "@/components/core/Link.astro";

interface Props {
  mainState: string;
  githubUrl: string;
  posterMail: string;
  states: CollectionEntry<"state">[];
  currentState: CollectionEntry<"state">;
  undershowsIG: string;
}

const { states, mainState, githubUrl, posterMail, currentState, undershowsIG } = Astro.props;
const sortedStates = [...states].sort((a) => (a.slug === mainState ? -1 : 1));
const { Content } = await currentState.render();

const isLink = (state: CollectionEntry<"state">) =>
  (state.slug !== mainState && state.slug !== currentState.slug) ||
  (state.slug === mainState && currentState.slug !== mainState);
---

<p class="normal">
  <img
    src="/images/undershows_logo.png"
    alt="Undershows logo"
    class="logo"
  />

  ESTADOS/STATES<br />
  {
    sortedStates.map((state, index) => (
      <>
        {index !== 0 ? " - " : ""}
        {isLink(state) ? (
          <Link to={state.slug === mainState ? "" : state.slug} class="class1">
            {state.data.abbr}
          </Link>
        ) : (
          state.data.abbr
        )}
      </>
    ))
  }

<br />
<br>
<b>Salve galera do subterrâneo, MUITO OBRIGADO A TODOS PELA COOPERAÇÃO, alcançamos mais de 1000 seguidores no Instagram e estamos com mais de 100 acessos diários a essa página, foda-se os números, ficamos felizes mesmo é pq tá rolando eventos underground no país todo 🤘</b><br>
<b>Uma outra novidade é que viramos um selo e estamos atualmente participando de 4 lançamentos em vinil (7" e LP) de bandas que admiramos, em breve mais infos, só pedrada, tem banda de São Paulo, de Minas Gerais, do Pará (chega de spoiler) 🎶</b><br>
<a href={undershowsIG} class="class2" target="_blank">{undershowsIG}</a>
<br>
<b>E dia 16/06 (próximo Domingo) vai pro ar o site da MBZ (Metal Brasileiro Zines), projeto com zines de metal/punk/hc, fiquem ligados 🔥</b><br>
<a href=https://metalbrasileirozines.com.br/ class="class2" target="_blank">https://metalbrasileirozines.com.br/</a>
  <Content />
</p>
