---
import type { CollectionEntry } from "astro:content";
import Link from "@/components/core/Link.astro";

interface Props {
  mainState: string;
  states: CollectionEntry<"state">[];
  currentState: CollectionEntry<"state">;
}

const { states, mainState, currentState } = Astro.props;
const sortedStates = [...states].sort((a, b) => {
  if (a.slug === mainState) return -1;
  if (b.slug === mainState) return 1;
  return a.slug.localeCompare(b.slug);
});
const { Content } = await currentState.render();

const isLink = (state: CollectionEntry<"state">) =>
  (state.slug !== mainState && state.slug !== currentState.slug) ||
  (state.slug === mainState && currentState.slug !== mainState);
---

<style>
  img.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .compact-section {
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .compact-section hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
  }

  .compact-section .highlight {
    font-weight: bold;
    color: #d32f2f;
  }
</style>

<p class="normal">
  <img
    src="/images/undershows_logo.png"
    alt="Undershows logo"
    class="logo"
  />

  <p style="text-align: center; font-size: 24px; font-weight: bold; margin-top: 16px;">ESTADOS/STATES</p>

  <div class="grid-states">
    {
      sortedStates.map((state) =>
        isLink(state) ? (
          <Link to={state.slug === mainState ? "" : state.slug} class="class1">
            {state.data.abbr}
          </Link>
        ) : (
          <span class="class1 active">{state.data.abbr}</span>
        )
      )
    }
  </div>  
</p>

<div class="compact-section" style="text-align: center; line-height: 1.6; font-size: 23px; color: #000;">
  <b>-ˋˏ✄---------------------------------------------------------------</b><br>
  <div style="margin-bottom: 2px;">
    <b>Cartazes de shows, só mandar por email: 
    <a href="mailto:undershowsbr@gmail.com" style="color: #002aff; text-decoration: none;">undershowsbr@gmail.com</a></b>
      </div>
  <b>-ˋˏ✄---------------------------------------------------------------</b><br>
</div>

<Content />
