---
import type { CollectionEntry } from "astro:content";
import Link from "@/components/core/Link.astro";

interface Props {
  mainState: string;
  githubUrl: string;
  posterMail: string;
  states: CollectionEntry<"state">[];
  currentState: CollectionEntry<"state">;
  undershowsIG: string;
}

const { states, mainState, githubUrl, posterMail, currentState, undershowsIG } = Astro.props;
const sortedStates = [...states].sort((a) => (a.slug === mainState ? -1 : 1));
const { Content } = await currentState.render();

const isLink = (state: CollectionEntry<"state">) =>
  (state.slug !== mainState && state.slug !== currentState.slug) ||
  (state.slug === mainState && currentState.slug !== mainState);
---

<p class="normal">
  <img
    src="/images/undershows_logo.png"
    alt="Undershows logo"
    class="logo"
  />

  ESTADOS/STATES<br />
  {
    sortedStates.map((state, index) => (
      <>
        {index !== 0 ? " - " : ""}
        {isLink(state) ? (
          <Link to={state.slug === mainState ? "" : state.slug} class="class1">
            {state.data.abbr}
          </Link>
        ) : (
          state.data.abbr
        )}
      </>
    ))
  }

<br />
<br>
<b>Salve galera do subterrâneo, quem quiser enviar cartazes de shows, só enviar pelo e-mail abaixo:</b><br>
<a href={`mailto:${posterMail}`} class="class2" target="_blank">{posterMail}</a><br>
<b>-ˋˏ✄---------------------------------</b><br>
<b>Vlw geral que colou Undershows Fest III, vlw d+ as bandas</a> - <a href="https://crushalltyranny.bandcamp.com/" target="_blank">Crush All Tyranny</a> - <a href="https://ditto.fm/agravo-demo" target="_blank">Agravo</a> - <a href="https://herdeirosdoodio.bandcamp.com/" target="_blank">Herdeiros do Ódio</a>, Undershows Fest IV será novamente na Fenda 315, em alguma quarta-feira de Fevereiro/Março, fiquem ligads! &#x1F918;&#x1F389;</b><br>
<b>-ˋˏ✄---------------------------------</b><br>
<b>Lojinha online para vendas de vinis, alguns deles que participamos coletivamente como selo Undershows, deem uma olhada &#128522;</b><br>
<b><a href="https://linktr.ee/undershows/">linktr.ee/undershows/</a>
</b><br>
<b>-ˋˏ✄---------------------------------</b><br>
  <Content />
</p>
