---
export type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  to: string;
};

const { to, ...attrs } = Astro.props;
const url = `${import.meta.env.BASE_URL}${to}`;
---

<a href={url} {...attrs}>
  <slot />
</a>
