{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "tailwindcss",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ]
  },
  "settings": {
    "next": {
      "rootDir": "src/"
    }
  }
}