{
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "parser": "typescript",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "endOfLine": "lf"
}