---
import "@/styles/old.css";
import i18next from "i18next";
import GoogleAnalytics from "@/components/analytics/GoogleAnalytics.astro";

i18next.changeLanguage("pt");

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <GoogleAnalytics id={import.meta.env.APP_GA_MEASUREMENT_ID} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={import.meta.env.APP_OLD_SITE_DESCRIPTION}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
