---
import "@/styles/old.css";
import GoogleAnalytics from "@/components/analytics/GoogleAnalytics.astro";

export interface Props {
  title: string;
  bodyClass?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <GoogleAnalytics id={import.meta.env.APP_GA_MEASUREMENT_ID} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={import.meta.env.APP_OLD_SITE_DESCRIPTION}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script type="module" src="/register-sw.js"></script>
  </body>
</html>
