@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Newake";
  src: url("/fonts/newake-demo-400.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}